{% load crispy_forms_filters %}
{% block content %}

  {% load crispy_forms_tags %}
  
  <div class="container py-5">
    <h2 class="font-weight-bold mb-4" style="color: #228B22;">Password Reset Confirm</h2>
    <hr style="border-color: #228B22;">
    <p>Please enter your new password.</p>
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.new_password1.id_for_label }}" style="color: #228B22;">New Password</label>
        {{ form.new_password1|as_crispy_field }}
      </div>
      <div class="form-group">
        <label for="{{ form.new_password2.id_for_label }}" style="color: #228B22;">Confirm Password</label>
        {{ form.new_password2|as_crispy_field }}
      </div>
      <button class="btn btn-primary mt-3" style="background-color: #228B22; border-color: #228B22;" type="submit">Reset Password</button>
    </form>
  </div>

{% endblock %}
